
.container {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 20px;
  }
  
  img {
    border-radius: 15px;
    height: 270px;
    width: 270px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: grey;
  }
  
