body {
    background-color: lightsteelblue;
    display: inline-block;
    width: 100%;
}
div {
    background-color: whitesmoke;
    border-radius: 20px;
    height: 450px;
    width: 300px;
    margin: 50%;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    display: inline-block;
}

img {
    border-radius: 15px;
    height: 270px;
    width: 270px;
    align-items: center;
    padding: 5px 5px 0 5px;
    margin: 10px 0 0 0;
}
h3{ 
    padding: 5px 0 0 0;
    margin: 10px 0 0 0;
    font-size: large;
}
p{
    font-size: 13px;
    padding: 5px 0 0 0;
    margin: 10px 0 0 0;
    color: grey;
    font-weight: 700;
}

